.complete-container {
  position: relative;
  width: 400px;
}

#search-input {
  width: 100%;
  padding: 8px 30px 8px 10px;
  box-sizing: border-box;
}

.complete-container .bi-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #4d4d60;
  pointer-events: none;
}

.suggestions-box {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #ecededee;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.suggestion-item {
  padding: 8px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f180c4;
}

.autocomplete-container {
  max-width: 350px;
}




.nav-group {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-group .nav-link,
.nav-group i {
  color: #f8f9fa;
}

.nav-group .nav-link.active,
.nav-group .nav-link.active i {
  color: yellow !important;
  font-weight: bold;
}

@media (max-width: 991px) {
  .navbar-toggler {
    margin-left: auto;
  }
}

.cart-text {
  display: none;
}

.cart-icon {
  display: block;
}



.cart-text {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}







.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}


body {
  background-image: url("https://png.pngtree.com/element_our/sm/20180408/sm_5ac9b8967574d.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}






.gallery-container {
  max-width: 700px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.gallery-container a {
  display: block;
}

.gallery-container img {
  width: 90%;
  height: 200px;

  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-container img:hover {
  transform: scale(1.05);
}

.lb-close {
  display: none !important;
}

.lb-number {
  display: none !important;
}




.lb-prev,
.lb-next {
  display: none !important;
}



.product-container {
  width: 260px;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}




.product-container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-container:hover {
  transform: translateY(-8px) scale(0.93);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}


.card-img-top {
  height: 200px;
  object-fit: cover;
}

.swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
}


.img-magnifier-container {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.img-magnifier-container img {
  width: 100%;
  height: auto;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  pointer-events: none;
}


.rating-box {
  padding: 15px;
}

.stars i {
  cursor: pointer;
  color: gray;
  font-size: 24px;
}

.stars i.active {
  color: gold;
}